/*import fonts from fonts.css file*/
@import url(./fonts.css);


body {
    overflow-x: hidden;
    height: 100%;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    font-size: large;
    background-color: pink;
    padding: auto;
  }
  
  
  .content {
    grid-area: content;
  }
  
  
  .footer {
    grid-area: footer
  }
  
  .wrapper {
    display: grid;
    padding: 6%;
    grid-gap: 9px;
    background-color: pink;
    color: #444;

    grid-template-columns:50% 50%;
    grid-template-areas:
      'content content';
  }
  
  .box {
    background-color: grey;
    color: #fff;
    border-radius: 10px;
    padding: 5%;
    margin: 2%;
    font-size: 100%;
    height: 65vh;
  }
  
